<nav>
      <ul>
        <li>
          <a href="/users">Users</a>
        </li>
        <li>
          <a href="/photos">Photos</a>
        </li>
      </ul>
    </nav>

    <h1>chi</h1>

<dl>
  <dt>
    ID
  </dt>
  <dd>
    114
  </dd>

  <dt>
    Edit user
  </dt>
  <dd>
    <form action="/update_user/114" method="post">
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" value=chi>

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (13)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
    </th>
  </tr>


    <tr>
      <td>
        <img src=https://robohash.org/veritatispraesentiumet.png?size=300x300&amp;set=set1>
      </td>

      <td>
        chi
      </td>

      <td>
        And I have a tender spot in my heart for cripples and bastards and broken things.
      </td>

      <td>
        2017-12-07 16:16:53 UTC
      </td>

      <td>
        <a href="/photos/893">
          Show details
        </a>
      </td>
    </tr>
    </table>
